# Environment
.env
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.egg-info/

# IDE
.vscode/
.idea/

# Runtime
logs/
data/

# OS
.DS_Store
Thumbs.db

# Frigate
storage/
config/model_cache/
config/*.db*
config/.*
